.content{
    margin-left: 200px;
    width: calc(100% -200px);
    min-height: 100vh;
    padding: 20px;
    background-color: #EEEEEE;
}

.container {
    background-color: #FFFFFF;
    box-shadow: 0px 3px 6px #00000029;
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container span {
    margin-bottom: 15px;
}

.contentAction {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 20px;
}

.buttonNewCalled {
    width: 100%;
    max-width: 200px;
    height: 45px;
    color: #FFFFFF;
    font-size: 12px;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    transition: 0.2 ease-in-out;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.buttonNewCalled {
    background-color: #00B495;
}

.buttonNewCalled:hover{
    cursor:pointer;
    background-color: #3D8A87;
}

table {
    border:1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x:scroll !important;
}

table caption {
    font-size: 1.5rem;
    margin: .5rem 0 .75em;
}

table tr{
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: .35em;
}

table th,
table td{
    padding: .62em;
    text-align: center;
}

.badge {
    padding: 3px;
    border-radius: 3px;
    color: #FFFFFF;
}

.buttonAction {
    border:0;
    padding: 5px;
    margin-left: 2px;
    align-items: center;
    display: inline-block;
    border-radius: 4px;
}

.buttonAction svg {
    vertical-align: middle;
}