.title{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 8px;
    padding: .8em;
    width: 100%;
    box-shadow: 0px 3px 6px #00000029;
    color:#4A4C4E;
    background-color: #FFFFFF;
}

.title span{
    margin-left: 1em;
    font-size: 16px
}