.containerSiderbar {
    position: fixed;
    width: 200px;
    height: 100vh;
    background: #0F0C29;
    box-shadow: 0px 3px 6px #00000029;
}

.containerLogo{
    display: flex;
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
    justify-content: center;
    align-items: center;
    border-bottom:1px solid #7a9bff;
}

.contentAvatar {
    display: flex;
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #383554;
    background-color: #3A3756;
}

.photoProfile {
    border-radius: 50%;
}

.links{
    width: 100%;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 0 10px;
    transition: 0.1s ease-in-out;
}

.linksTitle:hover,
.buttonLogOut:hover{
    cursor: pointer;
    background-color: #080616;
    border-left: 2px solid #FFFFFF;
}

.linksIcons{
    color:#FFFFFF;
    margin-right: 10px;
} 

.linksTitle{
    text-decoration: none;
    color:#FFFFFF;
    font-size: 14px;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    transition: 0.1s ease-in-out;
    padding-left: 8px;
    border-left: 2px solid transparent;
}

.logoImg{
    height: 50px;
}

.buttonLogOut {
    width: 100%;
    text-align: start;
    padding: 8px;
    border-left: 2px solid transparent;
    background-color: transparent;
    color:#FFFFFF;
    font-size: 14px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    height: 45px;
}
